{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="title">Changer de mot de passe</h2>

    <form method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label">Mot de passe actuel</label>
            <div class="control">
                {{ form.old_password }}
            </div>
        </div>
        
        <div class="field">
            <label class="label">Nouveau mot de passe</label>
            <div class="control">
                {{ form.new_password1 }}
            </div>
        </div>
        
        <div class="field">
            <label class="label">Confirmez le nouveau mot de passe</label>
            <div class="control">
                {{ form.new_password2 }}
            </div>
        </div>
        
        <button type="submit" class="button is-primary">Changer le mot de passe</button>
    </form>
</div>
{% endblock %}
