{% extends 'presence/base_admin.html' %}

{% block title %}
  Tableau de Bord Admin
{% endblock %}

{% block admin_content %}
  <div class="container my-5">
    <div class="box has-text-centered">
      <h1 class="title is-3 has-text-primary">Permissions du service {{service}}</h1>
    </div>

    <div class="box">
      <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Employé</th>
              <th>Date début</th>
              <th>Date fin</th>
              <th>Raison</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for permission in permissions %}
              <tr>
                <td>{{ permission.employee.user.username }}</td>
                <td>{{ permission.start_date }}</td>
                <td>{{ permission.end_date }}</td>
                <td>{{ permission.reason }}</td>
              
                <td>
                  <div class="buttons">
                    <a href="{% url 'approve_permission_chef' permission.id %}" class="button is-success is-small">
                      <span class="icon"><i class="fas fa-check"></i></span>
                      <span>Approuver</span>
                    </a>
                    <a href="{% url 'reject_permission_chef' permission.id %}" class="button is-danger is-small">
                      <span class="icon"><i class="fas fa-times"></i></span>
                      <span>Refuser</span>
                    </a>
                  </div>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="7" class="has-text-centered has-text-grey">
                  Aucune permission disponible.
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
